{% from "./macros.njk" import query %}
{% block content %}
<div class="line">
    <div class="unit r-size2of3">

        <div class="mod">
            <div class="inner">
                <div class="bd">
                    <h1>GImage Navigator</h1>

                    <div class="bd">

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="unit r-size1of3">
        {# input #}
        {% include "input.njk" %}

    </div>

    <div class="unit r-size1of3">
        {{ query("", "", "") }}
    </div>

{% if hasJavascriptBundle %}
    <link rel="preload" href="http://localhost:8080/static/bundle.js" as="script">
{% endif %}
{% if hasJavascriptBundle %}
            <script src="http://localhost:8080/static/bundle.js" defer></script>
{% endif %}

</div>
{% endblock %}
