
{% block content %}
<div class="line">
    <div class="unit r-size2of3">

        <div class="mod">
            <div class="inner">
                <div class="bd">

                    <h1>Test app</h1>

                    <p>
                        Go to the <a href="/internal-backstage">internal-backstage</a> page too see site config and other information.
                    </p>

                    <p>
                        Message from controller: {{ message }}
                    </p>

                </div>
            </div>
        </div>

    </div>
    <div class="unit r-size1of3">

        <div class="mod green-skin">
            <div class="inner">
                <div class="bd">
                    <h2>App info</h2>
                    <p>
                        This is Me
                        version 0.1
                    </p>
                </div>
            </div>
        </div>

    </div>


</div>
{% endblock %}
